.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#LoginForm{
	
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

input, button{
	transition: all 250ms ease;
    border-top: 3px solid rgb(46, 46, 250);
    border-left: 3px solid rgb(46, 46, 250);
    border-right: 3px solid rgb(46, 46, 250);
    border-bottom: 3px solid rgb(46, 46, 250);
	
    
	font-size: 16px;
    background-color: #282c34;
   
    border-radius: 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
	padding: 5px;
	margin: 5px;
	
}


input:hover, button:hover, input:focus, button:focus{     
    opacity: 1;
    z-index: 1;  
    
    color: white;
    background-color:rgba(46, 46, 250, 1);
    
    
}








@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
